In [1]:
DATA_PATH = '../data/'
LIGHTCURVES_PATH = DATA_PATH + 'lightcurves/'
FEATURES_PATH = DATA_PATH + 'features/'

In [2]:
import numpy as np
import pandas as pd
import measurements, extract
import matplotlib.pyplot as plt

In [3]:
min_obs = 5

Import non-transient light curves

In [4]:
filename = 'nontransient_lightcurves.pickle'
indir = LIGHTCURVES_PATH; filepath = indir + filename
df_nt_lcs = pd.read_pickle(filepath)
df_nt_lcs.shape

(1924409, 4)

Filter non-transient lightcurves

In [5]:
# Delete rows of blended observations
df_nt_lcs = df_nt_lcs.drop_duplicates(['ID','MJD'], keep='first')
# Add observation count to every nontransient
df_count = df_nt_lcs.groupby('ID', as_index=False).count()
df_count['ObsCount'] = df_count['Mag']
df_count = df_count[['ID', 'ObsCount']]
df_nt_lcs = df_nt_lcs.merge(df_count, how='inner')
# Remove nontransient objects with less than 5 observations
df_nt_lcs = df_nt_lcs[df_nt_lcs.ObsCount >= min_obs]
df_nt_lcs.shape

(1798465, 5)

In [6]:
len(df_nt_lcs.ID.unique())

15193

In [94]:
df_nt_lcs.head()

                        ID    Mag  Magerr          MJD  ObsCount
index
0      CataID1121048016765  21.12    0.52  53732.34137        37
1      CataID1121048016765  20.85    0.45  53788.24432        37
2      CataID1121048016765  21.05    0.46  54054.45393        37
3      CataID1121048016765  20.09    0.28  54116.34092        37
4      CataID1121048016765  20.35    0.33  54185.14450        37

In [100]:
df_nt_lcs2 = df_nt_lcs.copy()
df_nt_lcs2.index.name = 'index'
df_nt_lcs2 = df_nt_lcs2.set_index(['ID'], append=True)
df_nt_lcs2 = df_nt_lcs2.reorder_levels(['ID', 'index'])

In [110]:
df_nt_lcs2.head()

                             Mag  Magerr          MJD  ObsCount
ID                  index
CataID1121048016765 0      21.12    0.52  53732.34137        37
                    1      20.85    0.45  53788.24432        37
                    2      21.05    0.46  54054.45393        37
                    3      20.09    0.28  54116.34092        37
                    4      20.35    0.33  54185.14450        37

### Experimental

Find duplicated light-curves in non-transient dataframe

In [185]:
def areEqualLightCurves(df_lcs, id1, id2):
    lc1 = df_lcs.loc[id1].sort_values(by='MJD')
    lc1 = lc1[['Mag', 'Magerr', 'MJD']].reset_index(drop=True)
    lc2 = df_lcs.loc[id2].sort_values(by='MJD')
    lc2 = lc2[['Mag', 'Magerr', 'MJD']].reset_index(drop=True)
    return lc1.equals(lc2)

def possiblyRepeatedObservations(df_lcs, obscount = 1):
    df_counts_by_observation = df_lcs.groupby(['Mag', 'Magerr', 'MJD'], as_index=False).count()
    df_counts_by_observation = df_counts_by_observation[df_counts_by_observation.ObsCount > obscount]
    return df_counts_by_observation

def possiblyRepeatedByGroups(df_lcs):
    groups = []
    df_poss_repeat_obs = possiblyRepeatedObservations(df_lcs)
    for index, row in df_poss_repeat_obs.iterrows():
        current_ids = df_lcs[
            (df_lcs.Mag == row.Mag)&(df_lcs.Magerr == row.Magerr) &(df_lcs.MJD == row.MJD)
        ].index.get_level_values('ID').unique()
        groups.append(current_ids)
    return groups

def repeatedLightCurves(df_lcs, possibly_by_groups_list):
    copies = {}
    len_possibly_by_groups_list = len(possibly_by_groups_list)
    for i_group, group in enumerate(possibly_by_groups_list):
        if i_group % int(len_possibly_by_groups_list/10) == 0:
            print(i_group, '/', len_possibly_by_groups_list)
        found_as_copy = []
        for i, id1 in enumerate(group):
#             print(i, len(group))
            if id1 not in found_as_copy:
                for j, id2 in enumerate(group[i+1:]):
                    are_equal = areEqualLightCurves(df_lcs, id1, id2)
                    if are_equal and (id1 not in copies or id2 not in copies[id1]): 
                        found_as_copy.append(id2)
                        print(id1, id2)
                        if id1 not in copies: 
                            copies[id1] = []
                        copies[id1].append(id2)
    return copies

In [ ]:
# Takes a while...
possibly_by_groups_list = possiblyRepeatedByGroups(df_nt_lcs2)

In [149]:
copies = repeatedLightCurves(df_nt_lcs2, possibly_by_groups_list)

0 / 9367
936 / 9367
1872 / 9367
2808 / 9367
3744 / 9367
4680 / 9367
5616 / 9367
6552 / 9367
7488 / 9367
8424 / 9367
9360 / 9367

In [150]:
copies

{}

#### Find transient light curves in non-transient dataframe

Import and filter transients

In [154]:
filename = 'transient_lightcurves.pickle'
indir = LIGHTCURVES_PATH; filepath = indir + filename
df_t_lcs = pd.read_pickle(filepath)
df_t_lcs.shape

(451474, 4)

In [159]:
# Delete rows of blended observations
df_t_lcs = df_t_lcs.drop_duplicates(['TransientID','MJD'], keep='first')
# Add observation count to every transient
df_count = df_t_lcs.groupby('TransientID', as_index=False).count()
df_count['ObsCount'] = df_count['Mag']
df_count = df_count[['TransientID', 'ObsCount']]
df_t_lcs = df_t_lcs.merge(df_count, how='inner')
# Remove objects with less than min_obs
df_t_lcs = df_t_lcs[df_t_lcs.ObsCount >= min_obs]

In [163]:
df_t_lcs2 = df_t_lcs.rename(columns={'TransientID':'ID'})
df_t_lcs2 = df_t_lcs2.set_index(['ID'], append=True)
df_t_lcs2.head()

                                 Mag    Magerr           MJD  ObsCount
  ID
0 TranID1409030010044114444  18.8765  0.166417  53766.089871        13
1 TranID1409030010044114444  20.0519  0.281733  53990.458866        13
2 TranID1409030010044114444  20.2199  0.295764  53996.286004        13
3 TranID1409030010044114444  21.1192  0.495390  54385.205789        13
4 TranID1409030010044114444  19.3289  0.195002  54355.282285        13

In [179]:
df_t_lcs2 = df_t_lcs.copy()
df_t_lcs2.index.name = 'index'
df_t_lcs2 = df_t_lcs2.rename(columns={'TransientID':'ID'})
df_t_lcs2 = df_t_lcs2.set_index(['ID'], append=True)
df_t_lcs2 = df_t_lcs2.reorder_levels(['ID', 'index'])

In [181]:
# Takes a while...
possibly_by_groups_list_t = possiblyRepeatedByGroups(df_t_lcs2)

In [186]:
copies_t = repeatedLightCurves(df_t_lcs2, possibly_by_groups_list_t)

0 / 8663
TranID1010311350054106115 TranID1209261350054109025
TranID1405261260424118499 TranID1201131260424117626
TranID1406251180794109133 TranID1203281180794110813
TranID1209220231174118379 TranID1310240231174115951
TranID1306161011264117300 TranID1607061011264118208
TranID1604051150914112284 TranID1303181150914117439
TranID1301221040864152906 TranID1504011040864145999
TranID1104281380304112024 TranID1310271380304111884
TranID1301171040504112807 TranID1601131040504110352
TranID1601200090724142448 TranID1304290090724141600
TranID1212101070614108872 TranID1211151070614108238
TranID1212101070614108872 TranID1211231070614109198
TranID1212101070614108872 TranID1011161070614109449
TranID1211151070614108238 TranID1211231070614109198
TranID1211151070614108238 TranID1011161070614109449
TranID1211231070614109198 TranID1011161070614109449
TranID1502140070764121999 TranID1206230070764120012
TranID1201250150604137052 TranID1312310150604133926
TranID1604061040774129136 TranID1303161040774127865
866 / 8663
TranID1512031430414122287 TranID1201191430414129179
TranID1212131040594104095 TranID1211241040594103370
TranID1212131040594104095 TranID1211041040594103137
TranID1212131040594104095 TranID1212081040594104311
TranID1212131040594104095 TranID1212201040594103839
TranID1212131040594104095 TranID1511211040594102791
TranID1202180120574141811 TranID1312310120574151051
TranID1604290090724146073 TranID1401070090724151417
TranID1211241040594103370 TranID1211041040594103137
TranID1211241040594103370 TranID1212081040594104311
TranID1211241040594103370 TranID1212201040594103839
TranID1211241040594103370 TranID1511211040594102791
TranID1211041040594103137 TranID1212081040594104311
TranID1211041040594103137 TranID1212201040594103839
TranID1211041040594103137 TranID1511211040594102791
TranID1209190011264107526 TranID1509170011264107027
TranID1210090180064127981 TranID1510120180064121023
TranID1212081040594104311 TranID1212201040594103839
TranID1212081040594104311 TranID1511211040594102791
TranID1212201040594103839 TranID1511211040594102791
TranID1211030011184117219 TranID1410180011184116122
TranID1104300121104103880 TranID1308280121104103099
TranID1010081290014121920 TranID1306151290014118570
TranID1405110090864121126 TranID1202210090864126508
TranID1205190090574131466 TranID1012130090574133758
TranID1305101380784129660 TranID1511101380784124463
TranID1406061180704130379 TranID1205151180704135143
TranID1401031150674125979 TranID1105241150674125381
1732 / 8663
TranID1504230010894142407 TranID1208130010894127116
TranID1111151180174127137 TranID1309261180174130294
TranID1309241090044129182 TranID1607081090044127680
TranID1206181230684113341 TranID1005121230684112564
TranID1111191230074124966 TranID1309161230074127240
TranID1502201230684114159 TranID1501181230684115146
TranID1105131071194105275 TranID1306031071194105035
TranID1601121260564107405 TranID1206181260564106689
TranID1401211010874151747 TranID1201301010874161028
TranID1111280090254147222 TranID1310140090254143098
TranID1211061320024142735 TranID1211151320024143451
TranID1211061320024142735 TranID1509201320024142849
TranID1109221321074116304 TranID1308281321074116643
TranID1209190070174113766 TranID1410280070174111458
2598 / 8663
TranID1111031520324144272 TranID911061520324139275
TranID1201230150784136277 TranID1004050150784128556
TranID1304101150764142626 TranID1104041150764142581
TranID1210131010164129332 TranID1411171010164128066
TranID1504291690384116269 TranID1306171690384118959
TranID1303011180144110751 TranID1509201180144113784
TranID1211151320024143451 TranID1509201320024142849
TranID911200040324150271 TranID1110030040324144414
TranID1607071380774156515 TranID1209061380774148393
TranID1301221040864152365 TranID1503161040864152472
TranID1504131090894153902 TranID1209181090894150144
TranID1401070090794151988 TranID1202210090794158083
TranID1506180040674111242 TranID1212200040674116039
TranID1506180040674111242 TranID1212100040674114384
TranID1212200040674116039 TranID1212100040674114384
3464 / 8663
TranID1304041290654130369 TranID1102251290654131280
TranID1411231350454114598 TranID1204271350454119046
TranID1309011180214134165 TranID1609061180214126235
TranID1510011490274103763 TranID1302011490274104873
TranID1503251010844136382 TranID1204171010844154549
TranID1512051260464106558 TranID1301101260464109475
TranID1604171380614134615 TranID1201291380614145815
TranID1301181430464127521 TranID1601151430464122188
4330 / 8663
TranID1602051070734101526 TranID1302171070734101998
TranID1301031350364121228 TranID1102121350364121364
TranID1608310181104112828 TranID1607060181104115239
TranID1608310181104112828 TranID1309120181104114898
TranID1607060181104115239 TranID1309120181104114898
TranID1204191260584120421 TranID1406221260584116694
TranID1209260210054119103 TranID1510120210054117927
TranID1309011180204130069 TranID1610211180204120790
TranID1301100070484108784 TranID1511190070484109286
TranID1602071460524126217 TranID1104271460524126836
TranID1107011120094102684 TranID1309241120094101179
TranID1303051230684111017 TranID1101151230684116296
TranID1602171490334121172 TranID1201191490334131246
TranID1206161291084136687 TranID1409261291084137422
TranID1511191290514126351 TranID1203251290514127097
5196 / 8663
TranID1206141460544140072 TranID1003261460544130600
TranID1308280041244110839 TranID1606160041244108573
TranID1306191350614114230 TranID1102231350614114801
TranID1504091040684126844 TranID1205211040684129945
TranID1601161290594108371 TranID1203291290594112656
TranID1603020180764137922 TranID1305160180764144916
TranID1405250010874131351 TranID1203160010874160538
TranID1503141460484104225 TranID1201271460484105896
TranID1603010150504117042 TranID1301200150504118194
TranID904180210754153893 TranID805110210754143931
6062 / 8663
TranID1201091210644109910 TranID1503281210644113589
TranID1206121180764126679 TranID1504301180764122286
TranID1607071290674126131 TranID1303171290674135204
TranID1211251010564111427 TranID1512061010564110200
TranID1505071180764136452 TranID1106051180764143736
TranID804241120844107122 TranID1201201120844113010
TranID1309010071244136626 TranID1109180071244128796
TranID1001061320334228647 TranID1111031320334130168
TranID1511101520324127922 TranID1511231520324124767
6928 / 8663
TranID1603021120804134905 TranID1304031120804136660
TranID1210270120284116794 TranID1210200120284120600
TranID1503211010654104157 TranID1302141010654105793
TranID1209180040174139651 TranID1410050040174127597
TranID1103050040844106641 TranID1603200040844105787
TranID1301061090094117234 TranID1509241090094114461
TranID1504211350674136634 TranID1303231350674129048
7794 / 8663
TranID1104261260724113314 TranID1201181260724114611
TranID1112241090224127804 TranID1102041090224124459
TranID1310120150164117921 TranID1311100150164118366
TranID1111020260014102295 TranID1111300260014103252
TranID1110310180154126160 TranID1110190180154119758
TranID1303161320574130573 TranID1302051320574131490
8660 / 8663

In [194]:
df_t_lcs3 = df_t_lcs2.copy()
for original, list in copies_t.items():
    df_t_lcs3 = df_t_lcs3.drop(list, level='ID')

In [195]:
# Takes a while...
possibly_by_groups_list_t = possiblyRepeatedByGroups(df_t_lcs3)

In [196]:
copies_t = repeatedLightCurves(df_t_lcs3, possibly_by_groups_list_t)

0 / 4318
431 / 4318
862 / 4318
1293 / 4318
1724 / 4318
2155 / 4318
2586 / 4318
3017 / 4318
3448 / 4318
3879 / 4318
4310 / 4318

#### Test merges

In [198]:
df_t_nt_lcs = pd.concat([df_t_lcs3, df_nt_lcs2])

In [201]:
# Takes a while...
possibly_by_groups_list_t_nt = possiblyRepeatedByGroups(df_t_nt_lcs)

In [202]:
copies_t_nt = repeatedLightCurves(df_t_nt_lcs, possibly_by_groups_list_t_nt)

0 / 13685
1368 / 13685
2736 / 13685
4104 / 13685
5472 / 13685
6840 / 13685
8208 / 13685
9576 / 13685
10944 / 13685
12312 / 13685
13680 / 13685